/* Reset de Estilos Gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Reset de Listas */
ul, ol {
    list-style: none;
}

/* Estilo de Hiperlinks Básico */
a {
    text-decoration: none;
    color: #0078d4; /* Cor padrão dos links */
}

a:hover {
    text-decoration: underline; /* Sublinhar ao passar o mouse */
}
